<script setup>
import { MagnifyingGlassIcon } from '@heroicons/vue/20/solid'
import { ChevronRightIcon, HomeIcon } from '@heroicons/vue/20/solid'
import { ref, watch } from 'vue'
const props = defineProps(['pages'])
import { useRouter } from 'vue-router'

const filterString = ref('')

const router = useRouter()
watch(filterString, (newFilter, _) => {
  router.replace({ query: { search: newFilter } })
})
</script>

<template>
  <header class="mx-auto max-w-7xl">
    <div class="mx-auto max-w-3xl px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl lg:px-8">
      <nav class="flex grow" aria-label="Breadcrumb">
        <ol role="list" class="flex items-center space-x-4 px-2">
          <li>
            <div>
              <RouterLink :to="{ name: 'home' }" class="text-gray-400 hover:text-gray-500">
                <HomeIcon class="h-5 w-5 flex-shrink-0" aria-hidden="true" />
                <span class="sr-only">Home</span>
              </RouterLink>
            </div>
          </li>
          <li v-for="page in pages" :key="page.name">
            <div class="flex items-center">
              <ChevronRightIcon class="h-5 w-5 flex-shrink-0 text-gray-400" aria-hidden="true" />
              <RouterLink
                :to="page.link"
                class="text-lg ml-4 font-semibold text-gray-500 hover:text-gray-700"
                :aria-current="page.current ? 'page' : undefined"
                >{{ page.name }}</RouterLink
              >
            </div>
          </li>
        </ol>
      </nav>

      <div class="w-full max-w-lg lg:max-w-xs">
        <label for="search" class="sr-only">Search</label>
        <div class="relative text-gray-400 focus-within:text-gray-600">
          <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
            <MagnifyingGlassIcon class="h-5 w-5" aria-hidden="true" />
          </div>
          <input
            id="search"
            v-model="filterString"
            class="block w-full rounded-md border-0 bg-white py-1.5 pl-10 pr-3 text-gray-900 focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-indigo-600 sm:text-sm sm:leading-6"
            placeholder="Filter"
            type="search"
            name="search"
          />
        </div>
      </div>
    </div>
  </header>
</template>
