<!--
SPDX-FileCopyrightText: Carl Schwan <carl@carlschwan.eu>
SPDX-License-Identifier: AGPL-3.0-or-later
-->

<template>
  <div class="min-h-full bg-gray-100">
    <Disclosure as="nav" class="border-b border-gray-200 bg-white" v-slot="{ open }">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 justify-between">
          <div class="flex">
            <div class="flex flex-shrink-0 items-center">
              <svg class="block h-8 w-8" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="m26.81721 6.0579518-5.977432.5722243v24.6132839l5.914217-.890396v-10.493982l7.94986 11.63921 6.232374-1.972015-8.140472-11.193509 8.204242-10.5576331-6.359358-1.46211-7.886507 10.5571941zm-13.549395 5.9978532c-.0675.0071-.132687.03685-.183377.08773l-2.346015 2.345604c-.09864.09893-.11722.252309-.0445.372086l2.746696 4.523795c-.487167.819006-.877623 1.70206-1.156683 2.633586l-5.0425552 1.048867c-.1402951.029055-.2413813.153367-.2413813.297337v3.317296c0 .140314.095983.261806.2311699.294475l4.8943156 1.196322c.260998 1.07887.665445 2.101628 1.199988 3.041644l-2.832973 4.319972c-.07904.120754-.06252.279776.0396.381468l2.345182 2.345604c.09864.09836.252621.117637.372908.04535l4.43931-2.696114c.872008.503187 1.812374.899183 2.806296 1.16772l1.035783 4.980041c.02915.141164.153885.241396.296928.241396h3.317709c.139477 0 .261191-.09524.294481-.232013l1.219994-4.990317c1.024557-.276502 1.993542-.688627 2.886878-1.21469l4.374709 2.868406c.120287.07923.279379.06335.38148-.03869l2.346016-2.34559c.09924-.09921.117013-.252607.04409-.372072l-1.597029-2.631956-.516676.163387c-.07532.02381-.157452-.0043-.201758-.06987 0 0-1.01864-1.491165-2.334206-3.41665-1.572715 3.077927-4.772331 5.186372-8.467241 5.186372-5.249568 0-9.505489-4.256079-9.505489-9.505904 0-3.861926 2.303503-7.183248 5.610236-8.671068v-2.452313c-.601827.210541-1.183648.464396-1.73624.765418-.000404-.000369-.000809-.0014-.0024-.0028l-4.477658-2.936763c-.0603-.0394-.130199-.05513-.197673-.04819z"
                    fill="blue"/>
              </svg>
            </div>
            <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
              <RouterLink
                  v-for="item in navigation"
                  :key="item.name"
                  :to="item.href"
                  :class="[item.ent ? 'border-indigo-500 text-gray-900' : 'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700', 'inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium']"
                  :aria-current="item.current ? 'page' : undefined"
              >{{ item.name }}
              </RouterLink>
            </div>
          </div>
          <div class="hidden sm:ml-6 sm:flex sm:items-center" v-if="user">
            <div class="flex items-center">
              <div class="relative ml-3 flex-shrink-0" v-if="changesCount > 0">
                <div>
                  <Button
                      class="relative inline-flex bg-indigo-700 text-white rounded-md py-2 px-3 text-sm font-medium"
                      @click="beforeSubmitOverlayOpen = true"
                  >
                    <span>{{ changesCount }} pending changes</span>
                    <ChevronDownIcon class="h-6 w-6" aria-hidden="true"/>
                  </Button>
                </div>
              </div>
            </div>
            <button type="button"
                    class="relative rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
              <span class="absolute -inset-1.5"/>
              <span class="sr-only">View notifications</span>
              <BellIcon class="h-6 w-6" aria-hidden="true"/>
            </button>


            <!-- Profile dropdown -->
            <Menu as="div" class="relative ml-3">
              <div>
                <MenuButton
                    class="relative flex max-w-xs items-center rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                  <span class="absolute -inset-1.5"/>
                  <span class="sr-only">Open user menu</span>
                  <img class="h-8 w-8 rounded-full" :src="user.picture" alt=""/>
                </MenuButton>
              </div>
              <transition enter-active-class="transition ease-out duration-200"
                          enter-from-class="transform opacity-0 scale-95"
                          enter-to-class="transform opacity-100 scale-100"
                          leave-active-class="transition ease-in duration-75"
                          leave-from-class="transform opacity-100 scale-100"
                          leave-to-class="transform opacity-0 scale-95">
                <MenuItems
                    class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                  <template v-for="item in userNavigation" :key="item.name">
                    <RouterLink v-slot="{ href, navigate, active }" :to="item.to" custom v-if="item.to">
                      <MenuItem v-slot="{ close }">
                        <a :href="href" @click.prevent="navigate();close()"
                           :class="[active ? 'bg-gray-100' : '', 'block px-4 py-2 text-sm text-gray-700']">{{
                            item.name
                          }}</a>
                      </MenuItem>
                    </RouterLink>
                    <MenuItem v-else>
                      <a :href="item.href" class="block px-4 py-2 text-sm text-gray-700">{{ item.name }}</a>
                    </MenuItem>
                  </template>
                </MenuItems>
              </transition>
            </Menu>
          </div>
          <div class="hidden sm:ml-6 sm:flex sm:items-center" v-else>
            <a class="relative inline-flex bg-indigo-700 text-white rounded-md py-2 px-3 text-sm font-medium"
               href="/login/gitlab">
              Login
            </a>
          </div>
          <div class="-mr-2 flex items-center sm:hidden">
            <!-- Mobile menu button -->
            <DisclosureButton
                class="relative inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
              <span class="absolute -inset-0.5"/>
              <span class="sr-only">Open main menu</span>
              <Bars3Icon v-if="!open" class="block h-6 w-6" aria-hidden="true"/>
              <XMarkIcon v-else class="block h-6 w-6" aria-hidden="true"/>
            </DisclosureButton>
          </div>
        </div>
      </div>

      <DisclosurePanel class="sm:hidden">
        <div class="space-y-1 pb-3 pt-2">

          <RouterLink
              v-for="item in navigation"
              v-slot="{ href, navigate }"
              :key="item.name"
              :to="item.href"
              custom>
            <DisclosureButton as="a" v-slot="{ close }"
                              :class="[item.current ? 'border-indigo-500 bg-indigo-50 text-indigo-700' : 'border-transparent text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800', 'block border-l-4 py-2 pl-3 pr-4 text-base font-medium']"
                              :aria-current="item.current ? 'page' : undefined">
              <a :href="href" @click.prevent="navigate();close()">
                {{ item.name }}
              </a>
            </DisclosureButton>
          </RouterLink>
        </div>
        <div class="border-t border-gray-200 pb-3 pt-4" v-if="user">
          <div class="flex items-center px-4">
            <div class="flex-shrink-0">
              <img class="h-10 w-10 rounded-full" :src="user.picture" alt=""/>
            </div>
            <div class="ml-3">
              <div class="text-base font-medium text-gray-800">{{ user.fullname }}</div>
              <div class="text-sm font-medium text-gray-500">{{ user.email }}</div>
            </div>
            <button type="button"
                    class="relative ml-auto flex-shrink-0 rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
              <span class="absolute -inset-1.5"/>
              <span class="sr-only">View notifications</span>
              <BellIcon class="h-6 w-6" aria-hidden="true"/>
            </button>
          </div>
          <div class="mt-3 space-y-1">
            <div v-for="item in userNavigation" :key="item.name">
              <RouterLink
                  v-slot="{ href, navigate }"
                  v-if="item.to"
                  :to="item.to"
                  custom>
                <DisclosureButton as="a" v-slot="{ close }" :href="item.href"
                                  class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800">
                  <a :href="href" @click.prevent="navigate();close()">
                    {{ item.name }}
                  </a>
                </DisclosureButton>
              </RouterLink>
              <DisclosureButton v-else as="a" :href="item.href"
                                class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800">
                {{ item.name }}
              </DisclosureButton>
            </div>
          </div>
        </div>
      </DisclosurePanel>
    </Disclosure>

    <div class="py-5">
      <header>
        <RouterView name="Header"/>
      </header>
      <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <main class="py-5">
          <div class="mx-auto max-w-7xl pb-12 flow-root">
            <RouterView/>
          </div>
        </main>
      </div>
    </div>
    <BeforeSubmitOverlay/>
  </div>

</template>

<script setup>
import {useMainStore} from '@/stores/store.js'
import {computed, toRefs} from 'vue'
import {RouterLink, RouterView} from 'vue-router'
import {
  Disclosure,
  DisclosureButton,
  DisclosurePanel,
  Menu,
  MenuButton,
  MenuItem,
  MenuItems
} from '@headlessui/vue'
import {MagnifyingGlassIcon, ChevronDownIcon} from '@heroicons/vue/20/solid'
import {Bars3Icon, BellIcon, XMarkIcon} from '@heroicons/vue/24/outline'
import BeforeSubmitOverlay from '@/components/BeforeSubmitOverlay.vue'

const navigation = [
  {name: 'Dashboard', href: '/', current: true},
  {name: 'About', href: '/about', current: false}
]

const userNavigation = [
  {name: 'Your Profile', to: {name: 'profile'}},
  {name: 'Settings', href: '#'},
  {name: 'Sign Out', href: '/logout'}
]

const store = useMainStore()
const {changes, beforeSubmitOverlayOpen, user} = toRefs(store)

const changesCount = computed(() => {
  let result = 0
  for (let idx in changes.value) {
    result += changes.value[idx].length
  }
  return result
})

store.fetchUser()

</script>
