<!--
SPDX-FileCopyrightText: Carl Schwan <carl@carlschwan.eu>
SPDX-License-Identifier: AGPL-3.0-or-later
-->

<script setup>
import {useMainStore} from '@/stores/store.js'
import {computed} from 'vue'
import {useRoute} from 'vue-router'

const route = useRoute()
const store = useMainStore()

if (
    !store.languages[route.params.lang] ||
    Object.keys(store.languages[route.params.lang]).length === 0
) {
  store.fetchComponents(route.params.lang)
}

const po_files = computed(() => {
  if (!(route.params.lang in store.languages)) {
    return []
  }

  for (let component of store.languages[route.params.lang].components) {
    if (component.name === route.params.component) {
      return component.po_files
    }
  }

  return []
})
</script>

<template>
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-300" v-if="po_files.length > 0">
          <thead class="bg-gray-50">
          <tr>
            <th
                scope="col"
                class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
            >
              Package
            </th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
              Translated
            </th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
              Fuzzy
            </th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
              Untranslated
            </th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
              Total
            </th>
            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
          <tr v-for="po_file in po_files" :key="po_file.name">
            <td
                class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
            >
              {{ po_file.name }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
              {{ po_file.stats.translated }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
              {{ po_file.stats.fuzzy }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
              {{ po_file.stats.untranslated }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
              {{ po_file.stats.total }}
            </td>
            <td
                class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6"
            >
              <RouterLink
                  :to="{
                        name: 'edit',
                        params: {
                          lang: route.params.lang,
                          component: route.params.name,
                          file: po_file.name
                        }
                      }"
                  class="text-indigo-600 hover:text-indigo-900"
              >
                Edit
                <span class="sr-only">, {{ po_file.name }}</span>
              </RouterLink>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="bg-white p-5" v-else>Loading</div>
      </div>
    </div>
  </div>
</template>
