<!--
SPDX-FileCopyrightText: Carl Schwan <carl@carlschwan.eu>
SPDX-License-Identifier: AGPL-3.0-or-later
-->

<script setup>
import {useMainStore} from '@/stores/store.js'
import {computed, onMounted, ref, toRefs} from 'vue'
import {useRoute, onBeforeRouteUpdate} from 'vue-router'
import {ChevronLeftIcon, ChevronRightIcon} from '@heroicons/vue/20/solid'

const route = useRoute()

const units = ref([])
const filter_by = ref('')
const page_number = ref(route.query.page ? parseInt(route.query.page) : 0)
const page_size = ref(100)

onBeforeRouteUpdate(async (to) => {
  filter_by.value = to.query.search
  page_number.value = to.query.page ? parseInt(to.query.page) : 0
})

const store = useMainStore()
if (store.languages.length === 0) {
  store.fetchComponents()
}

const {changes} = toRefs(useMainStore())

onMounted(async () => {
  const response = await fetch(
      `/api/v1/messages/${route.params.lang}/${route.params.component}/${route.params.file}`
  )
  units.value = await response.json()
})

const filteredUnits = computed(() => {
  if (filter_by.value === '') {
    return units.value
  }

  return units.value.filter((unit) => {
    return (
        unit.origin.toLowerCase().includes(filter_by.value.toLowerCase()) ||
        unit.translation.toLowerCase().includes(filter_by.value.toLowerCase())
    )
  })
})

const pagination = computed(() => {
  const pages = Math.ceil(filteredUnits.value.length / page_size.value)
  if (pages <= 10) {
    return [...Array(10).keys()]
  }

  if (page_number.value < 5) {
    return [...Array(page_number.value + 2).keys()].concat(['...', pages - 2, pages - 1])
  } else if (page_number.value >= 5 && page_number.value < pages - 4) {
    return [
      0,
      1,
      '...',
      page_number.value - 1,
      page_number.value,
      page_number.value + 1,
      '...'
    ].concat([pages - 2, pages - 1])
  } else {
    const lastNumbers = [
      page_number.value - 1,
      page_number.value,
      page_number.value + 1,
      pages - 2,
      pages - 1
    ].filter((number) => number < pages)
    lastNumbers.sort()
    return [...new Set([0, 1, '...'].concat(lastNumbers))]
  }
})

function paginatedUnits(page_number) {
  return filteredUnits.value.slice(
      page_number * page_size.value,
      page_number * page_size.value + page_size.value
  )
}

function change(origin, old_translation, translation) {
  const fileId = `${route.params.lang}/${route.params.component}/${route.params.file}`
  if (!(fileId in changes.value)) {
    changes.value[fileId] = []
  }

  for (let entryIndex in changes.value[fileId]) {
    let entry = changes.value[fileId][entryIndex]
    if (entry.id === origin) {
      changes.value[fileId].splice(entryIndex, 1)
      changes.value[fileId].push({
        id: origin,
        old_translation,
        translation
      })
      return
    }
  }
  changes.value[fileId].push({
    id: origin,
    old_translation,
    translation
  })
}

function changePlural({ old_data, translation, plural }) {
  const fileId = `${route.params.lang}/${route.params.component}/${route.params.file}`
  if (!(fileId in changes.value)) {
    changes.value[fileId] = []
  }

  for (let entryIndex in changes.value[fileId]) {
    let entry = changes.value[fileId][entryIndex]
    if (entry.id === old_data.message.Plural.singular) {
      const singularTranslation = plural ? changes.value[fileId][entryIndex].translation : translation;
      const pluralTranslation = plural ? translation : changes.value[fileId][entryIndex].translation_plural;
      changes.value[fileId].splice(entryIndex, 1)
      changes.value[fileId].push({
        id: origin,
        old_translation: old_data.message.Plural.singular,
        translation: singularTranslation,
        old_translation_plural: old_data.message.Plural.plural,
        translation_plural: pluralTranslation
      });
      return
    }
  }
  changes.value[fileId].push({
    id: origin,
    old_translation: old_data.message.Plural.singular,
    translation: plural ? old_data.message.Plural.values[0] : translation,
    old_translation_plural: old_data.message.Plural.plural,
    translation_plural: plural ? translation : old_data.message.Plural.values[1],
  });
}
</script>

<template>
  <div class="mx-auto">
    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
      <template v-if="units.length > 0">
        <div class="min-w-full divide-y divide-gray-300">
          <div class="flex">
            <div
                class="w-1/2 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
            >
              Original
            </div>
            <div class="w-1/2 px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
              Translated
            </div>
          </div>
          <div class="divide-y divide-gray-200 bg-white">
            <div class="flex" v-for="unit in paginatedUnits(page_number)" :key="unit.origin">
              <div class="m-w-1/2 w-1/2 py-4 pl-4 pr-3 text-sm text-gray-900 sm:pl-6">
                <div v-if="'Simple' in unit.message">
                  <span>{{ unit.message.Simple.origin }}</span>
                </div>
                <div v-else>
                  <div class="font-semibold">Singular:</div>
                  <div>{{ unit.message.Plural.singular }}</div>

                  <div class="mt-3 font-semibold">Plural:</div>
                  <div>{{ unit.message.Plural.plural }}</div>
                </div>
                <br/>
                <span v-if="unit.context" class="text-gray-600 mt-3"
                >Context: {{ unit.context }}</span
                >
              </div>
              <div class="m-w-1/2 w-1/2 text-sm text-gray-900 sm:pl-6 p-0.5">
                <textarea v-if="'Simple' in unit.message"
                          @input="(event) => change(unit.message.Simple.origin, unit.message.Simple.translation, event.target.value)"
                          :value="unit.message.Simple.translation"
                          class="block h-full w-full resize-none border-0 border-b border-transparent text-gray-900 placeholder:text-gray-400 focus:border-indigo-600 focus:ring-0 sm:text-sm sm:leading-6 px-3 py-4 text-sm"
                          placeholder="Missing translation"
                />
                <div v-else class="py-4 pl-4 pr-3 ">
                  <span class="font-semibold">Singular:</span><br/>
                  <textarea
                            @input="(event) => changePlural({ old_data: unit.message.Plural, translation: event.target.value, plural: false })"
                            :value="unit.message.Plural.values[0]"
                            class="block w-full resize-none border-0 border-b border-transparent text-gray-900 placeholder:text-gray-400 focus:border-indigo-600 focus:ring-0 sm:text-sm sm:leading-6 text-sm"
                            placeholder="Missing translation" />

                  <span class="font-semibold">Plural:</span><br/>
                  <textarea @input="(event) => changePlural({ old_data: unit.message.Plural, translation: event.target.value, plural: true })"
                            :value="unit.message.Plural.values[1]"
                            class="block w-full resize-none border-0 border-b border-transparent text-gray-900 placeholder:text-gray-400 focus:border-indigo-600 focus:ring-0 sm:text-sm sm:leading-6  text-sm"
                            placeholder="Missing translation" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
            class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
        >
          <div class="flex flex-1 justify-between sm:hidden">
            <a
                href="#"
                class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
            >Previous</a
            >
            <a
                href="#"
                class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
            >Next</a
            >
          </div>
          <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
            <div>
              <p class="text-sm text-gray-700">
                Showing
                {{ ' ' }}
                <span class="font-medium">{{ page_size * page_number + 1 }}</span>
                {{ ' ' }}
                to
                {{ ' ' }}
                <span class="font-medium">{{ page_size * (page_number + 1) }}</span>
                {{ ' ' }}
                of
                {{ ' ' }}
                <span class="font-medium">{{ filteredUnits.length }}</span>
                {{ ' ' }}
                results
              </p>
            </div>
            <div>
              <nav
                  class="isolate inline-flex -space-x-px rounded-md shadow-sm"
                  aria-label="Pagination"
              >
                <a
                    href="#"
                    class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
                >
                  <span class="sr-only">Previous</span>
                  <ChevronLeftIcon class="h-5 w-5" aria-hidden="true"/>
                </a>
                <!-- Current: "" -->
                <template v-for="page in pagination">
                  <RouterLink
                      v-if="page !== '...'"
                      :to="{ replace: true, query: { page: page } }"
                      class="relative inline-flex items-center px-4 py-2 text-sm font-semibold"
                      :class="[
                          page === page_number
                            ? 'z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600'
                            : 'text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0'
                        ]"
                  >
                    {{ page + 1 }}
                  </RouterLink>
                  <span
                      v-else
                      class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 ring-1 ring-inset ring-gray-300 focus:outline-offset-0"
                  >
                        ...
                      </span>
                </template>
                <a
                    href="#"
                    class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
                >
                  <span class="sr-only">Next</span>
                  <ChevronRightIcon class="h-5 w-5" aria-hidden="true"/>
                </a>
              </nav>
            </div>
          </div>
        </div>
      </template>
      <div class="bg-white p-5" v-else>Loading</div>
    </div>
  </div>
</template>
