<!--
SPDX-FileCopyrightText: Carl Schwan <carl@carlschwan.eu>
SPDX-License-Identifier: AGPL-3.0-or-later
-->

<script setup>
import {useMainStore} from '@/stores/store.js'
import {ChevronDownIcon, ChevronUpIcon} from '@heroicons/vue/20/solid'
import {useRoute} from 'vue-router'
import {computed, ref, watch} from 'vue'
import {onBeforeRouteUpdate} from 'vue-router'

const store = useMainStore()
const route = useRoute()

if (
    !store.languages[route.params.lang] ||
    Object.keys(store.languages[route.params.lang]).length === 0
) {
  store.fetchComponents(route.params.lang)
}

const sortBy = ref({role: null, dir: 'asc'})
const filterBy = ref('')

onBeforeRouteUpdate(async (to) => {
  filterBy.value = to.query.search
})

const components = computed(() => {
  if (!(route.params.lang in store.languages)) {
    return []
  }

  let result = store.languages[route.params.lang].components

  if (filterBy.value) {
    result = result.filter((component) =>
        component.name.toLowerCase().includes(filterBy.value.toLowerCase())
    )
  }

  if (sortBy.value.role === null) {
    return result
  }

  return result.sort((a, b) => {
    if (a.stats[sortBy.value.role] < b.stats[sortBy.value.role]) {
      return sortBy.value.dir === 'asc' ? -1 : 1
    } else if (a.stats[sortBy.value.role] > b.stats[sortBy.value.role]) {
      return sortBy.value.dir === 'asc' ? 1 : -1
    } else {
      return 0
    }
  })
})

function toggleSort(role) {
  if (sortBy.value.role !== role) {
    sortBy.value = {role, dir: 'asc'}
    return
  }

  sortBy.value.dir = sortBy.value.dir === 'asc' ? 'des' : 'asc'
}
</script>

<template>
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
        <table
            class="min-w-full divide-y divide-gray-300"
            v-if="route.params.lang in store.languages"
        >
          <thead class="bg-gray-50">
          <tr>
            <th
                scope="col"
                class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
            >
              Package
            </th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                    <span class="group inline-flex" @click="toggleSort('translated')">
                      Translated
                      <span
                          class="ml-2 flex-none rounded text-gray-400 group-hover:visible group-focus:visible"
                          :class="{ invisible: sortBy.role !== 'translated' }"
                      >
                        <ChevronDownIcon
                            class="h-5 w-5"
                            aria-hidden="true"
                            v-if="sortBy.dir === 'asc'"
                        />
                        <ChevronUpIcon class="h-5 w-5" aria-hidden="true" v-else/>
                      </span>
                    </span>
            </th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                    <span class="group inline-flex" @click="toggleSort('fuzzy')">
                      Fuzzy
                      <span
                          class="ml-2 flex-none rounded text-gray-400 group-hover:visible group-focus:visible"
                          :class="{ invisible: sortBy.role !== 'fuzzy' }"
                      >
                        <ChevronDownIcon
                            class="h-5 w-5"
                            aria-hidden="true"
                            v-if="sortBy.dir === 'asc'"
                        />
                        <ChevronUpIcon class="h-5 w-5" aria-hidden="true" v-else/>
                      </span>
                    </span>
            </th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                    <span class="group inline-flex" @click="toggleSort('untranslated')">
                      Untranslated
                      <span
                          class="ml-2 flex-none rounded text-gray-400 group-hover:visible group-focus:visible"
                          :class="{ invisible: sortBy.role !== 'untranslated' }"
                      >
                        <ChevronDownIcon
                            class="h-5 w-5"
                            aria-hidden="true"
                            v-if="sortBy.dir === 'asc'"
                        />
                        <ChevronUpIcon class="h-5 w-5" aria-hidden="true" v-else/>
                      </span>
                    </span>
            </th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                    <span class="group inline-flex" @click="toggleSort('total')">
                      Total
                      <span
                          :class="{ invisible: sortBy.role !== 'total' }"
                          class="invisible ml-2 flex-none rounded text-gray-400 group-hover:visible group-focus:visible"
                      >
                        <ChevronDownIcon
                            class="h-5 w-5"
                            aria-hidden="true"
                            v-if="sortBy.dir === 'asc'"
                        />
                        <ChevronUpIcon class="h-5 w-5" aria-hidden="true" v-else/>
                      </span>
                    </span>
            </th>
            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
          <tr v-for="component in components" :key="component.name">
            <td
                class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
            >
              {{ component.name }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
              {{ component.stats.translated }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
              {{ component.stats.fuzzy }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
              {{ component.stats.untranslated }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
              {{ component.stats.total }}
            </td>
            <td
                class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6"
            >
              <RouterLink
                  :to="{
                        name: 'component',
                        params: { lang: route.params.lang, component: component.name }
                      }"
                  class="text-indigo-600 hover:text-indigo-900"
              >
                Edit
                <span class="sr-only">, {{ component.name }}</span>
              </RouterLink>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="bg-white p-5" v-else>Loading</div>
      </div>
    </div>
  </div>
</template>
