<script setup>

import {onMounted, ref, toRefs} from "vue";
import {onBeforeRouteUpdate, useRoute} from "vue-router";
import {useMainStore} from "@/stores/store.js";

const route = useRoute()
const store = useMainStore()

const change = ref(null);
const { user } = toRefs(store)


async function loadChange(change_id) {
  const response = await fetch(`/api/v1/changes/${change_id}`)
  change.value = await response.json()
}

onMounted(() => {
  loadChange(route.params.id);
})

onBeforeRouteUpdate(async (to) => {
  loadChange(to.params.id)
})
</script>

<template>
  <div>
    <div v-if="change">
      <div class="mx-auto" v-for="(changes, file) in change.files" :key="file">
        <h2 class="text-lg font-semibold py-3.5 pl-4 pr-3">{{ file.split('/').splice(1, 2).join(' - ') }} </h2>
        <div class="overflow-hidden bg-white shadow sm:rounded-lg">
          <template v-if="changes.length > 0">
            <div class="min-w-full divide-y divide-gray-300">
              <div class="flex">
                <div
                    class="w-1/2 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                >
                  Original
                </div>
                <div class="w-1/2 px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                  Translation
                </div>
              </div>
              <div class="divide-y divide-gray-200 bg-white">
                <div class="flex" v-for="change in changes" :key="change.id">
                  <div class="m-w-1/2 w-1/2 py-4 pl-4 pr-3 text-sm text-gray-900 sm:pl-6">
                    <span class="font-medium">{{ change.id }}</span>
                  </div>
                  <div class="m-w-1/2 w-1/2 p-0.5">
                    <div class="text-red-600 text-sm sm:leading-6 px-3 py-4">
                      {{ change.old_translation }}
                    </div>
                    <textarea
                        rows="3"
                        v-model="change.translation"
                        class="block text-green-600 w-full resize-none border-0 border-b border-transparent placeholder:text-gray-400 focus:border-indigo-600 focus:ring-0 sm:text-sm sm:leading-6 px-3 py-4 text-sm"
                        placeholder="Missing translation"
                    />
                  </div>
                </div>
              </div>
            </div>
          </template>
        </div>
      </div>
      <div class="flex mt-4" v-if="user">
        <a class="relative ms-auto inline-flex bg-indigo-700 text-white rounded-md py-2 px-3 text-sm font-medium"
           href="/login/gitlab">
          Submit
        </a>
      </div>
    </div>
  </div>
</template>